[submodule "games/rogue/entt"]
	path = third-party/entt
	url = https://github.com/skypjack/entt.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
