[submodule "games/rogue/entt"]
	path = third-party/entt
	url = https://github.com/skypjack/entt.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third-party/ymir"]
	path = third-party/ymir
	url = https://github.com/Manewing/ymir.git
[submodule "third-party/cereal"]
	path = third-party/cereal
	url = https://github.com/USCiLab/cereal.git
